.font-strong{
    font-weight: 550 !important;
}

#header{
    height: 120px;
    background-image: linear-gradient(0, #fe6533, #f63f2e);
}

.header__nav{
    display: flex;
    justify-content: space-between;
}   

.header__nav .nav-list{
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.nav-list__item{
    margin:0 8px;
    position: relative;
}

.nav-list__item,
.nav-item__link{
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom:4px;
}

.nav-item__icon-link,
.nav-list__item,
.nav-item__link{
    display: inline-flex;
    align-items: center;
}

.nav-item__icon{
    margin-right: 5px;
}

.nav-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #fb9086;
    height: 15px;
    top: 0;
    right: -9px;
    transform: translateX(50%);
}

.nav-item__icon-link{
    text-decoration: none;
    color: var(--white-color);
    margin: 0 4px;
}

.nav-item__icon-link:hover{
    opacity: 0.6;
}

.nav-item__link:hover{
   color: #fb9086;
}

/*H QR*/
.nav-item__download{
    width: 170px;
    background-color: var(--white-color);
    position: absolute;
    top: 118%;
    left: 0;
    padding: 4px;
    display: none;
    animation: fadeIn ease 0.3s;
    -webkit-animation: fadeIn ease 0.3s;
    will-change: opacity;
}

.link-extend::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 18px;
    left: 0;
    top: -8px;

}

.nav-item__qr--show:hover .nav-item__download{
    display: block;
}

.nav-item__qr-img{
    width: 100%;
}

.nav-item__app{
    display: flex;
    justify-content: space-around;
}

.nav-item__app-link{    
}

.nav-item__app-link:first-child{
    margin-left: 11px;
}

.nav-item__app-link:last-child{
    margin-right: 11px;
}

.nav-item__app-img{
    height: 17px;
}

/*Header nav notify*/
.nav__notify{
    position: absolute;
    background-color: var(--white-color);
    width: 404px;
    right: 0;
    top: 118%;
    display: none;
    animation: Growth ease-in 0.25s;
    -webkit-animation: Growth ease-in 0.25s;
    will-change: opacity, transform;
    transform-origin:top right 20px;/*Chuyển tâm của animation*/
}

.nav__notify--show:hover .nav__notify{
    display: block;
}

/*Arrow top*/
.nav__notify-header::before{
    content: "";
    border-width: 20px 36px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -26px;
    right: -2px;
}

.nav__notify-header{
    height: 40px;
}

.nav__notify-header h3{
    font-weight: 400;
    user-select: none;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    color: #999;
    line-height: 40px;
}

.nav__notify-container{
    padding: 0;
    list-style: none;
}

.nav__notify-items{
}

.nav__notify-link--viewed{
    background-color: rgba(238, 75, 43, 0.1);
}

.nav__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.nav__notify-link:hover{
    background-color: #f0f0f0;
}

.nav__notify-img{
    width: 48px;
    object-fit: contain;
}

.nav__notify-content{
    margin-left: 12px;
}

.nav__notify-name{
    font-weight: 450;
    font-size: 1.5rem;
    display: block;
    color: var(--black-color);
    margin-bottom: 4px;
    line-height: 1.7rem;
}

.nav__notify-decription{
    display: block;
    color: #999;
    line-height: 1.7rem;
}


.nav__notify-footer{
}

.nav-notify__footer-content{
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    display: block;
    padding: 4px 16px;
}



.modal__inner{

}

/* Authen modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form-in{
}

.auth-form__input{
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 8px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    margin: -3px 16px;
    height: 22px;
    border: 1px solid #eaeaea;
}

.auth-form__help-link--forgot{
    color: var(--primary-color);
}



/* Button */
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

/* Social */
.auth-form__socials{
    background-color:#e9e7e7;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}


.auth-form__socials-icon--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-icon--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--label{
    margin: 0 32px;
}

.auth-form__socials-icon--google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials-icon--sms{
    background-color: #4ded30;
    color: var(--white-color);
}

.auth-form__socials-icon--sms
.auth-form__socials-icon{
    color: var(--white-color);
}
